name: Sync to fork

on:
  push:
    branches:
      - main

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set git user
        run: |
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"

      - name: Push changes to fork repo
        env:
          TOKEN: ${{ secrets.PERSONAL_TOKEN }}
        run: |
          git push https://${TOKEN}@github.com/Juice-Han/Oneco-Frontend.git main
